@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";
*{
  font-family: DM Sans, sans-serif;
}
.roles.typing {
  animation: typing 4s steps(40, end) infinite, blink 0.75s step-end infinite;
  width: fit-content;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blink {
  50% { border-color: transparent }
}

/* Optional: glowing border animation */
@keyframes pulseShadow {
  0% { box-shadow: 0 0 10px #00e0ff }
  50% { box-shadow: 0 0 25px #00e0ff }
  100% { box-shadow: 0 0 10px #00e0ff }
}
.animate-pulseShadow {
  animation: pulseShadow 4s infinite;
}
